# Ignore the virtual environenment
venv/

# Ignore the __pycache__ files
__pycache__/

# Ignore the .env file because that contains environment secrets
.env

# Ignore any sqlite files
*.db

# Ignroe the config file with database password
# config.py
.env

